<html>
    <head>
        <title>Mobasery Library</title>
        <link rel="icon" type="image/png" href="images/library.png">
    </head>
    <body>
        <div>
            <a href="index.html"><img src="images/library.png" height="400px" alt="Mobasery Library" /></a>
        </div>
        <table cellpadding="10" cellspacing="5">
            <tr>
                <td></td>
                <td>
                    <h1>Welcome to Moselibrary! </h1>
                <td>
            </tr>
            <tr>
                <td>
                    <h3>Menu</h3>
                    <a href="index.html">Home</a><br/>
                    <a href="books.html">List of Books</a><br/>
                    <a href="contact.html">Contact Us</a><br/>
                    <a href="survey.html">Survey</a><br/>
                </td>
                <td>
                    <p>Use the Menu on the left to navigate the browse.</p>
                </td>
            </tr>
            <tr>
                <td></td>
                </td>
            </tr>
        </table>
    </body>
</html>