<!DOCTYPE html>
<html>
    <head>
        <title>Mobasery Library</title>
        <link rel="icon" type="image/png" href="images/library.png">
    </head>
    <body>
        <div>
            <a href="index.html"><img src="images/library.png" height="400px" alt="Mobasery Library" /></a>
        </div>
        <table cellpadding="10" cellspacing="5">
            <tr>
                <td></td>
                <td>
                <td>
            </tr>
            <tr>
                <td>
                    <h3>Menu</h3><br/>
                    <a href="index.html">Home</a><br/>
                    <a href="books.html">List of Books</a><br/>
                    <a href="contact.html">Contact Us</a><br/>
                    <a href="survey.html">Survey</a><br/>
                </td>
                <td>
                    <a href="mockingjay.html"><img src="images/mockingjay.png" alt="mockingjay" height="300px"/></a>
                </td>
                <td>
                    <h2>Mockingjay</h2></a>
                    <p>
                    Author: Suzanne Collins</br>
                    Publisher: Scholastic Press</br>
                    Grade level: 7 and up</br>
                    Genre: Teen & Young Adult Fiction. Action, & Adventure</br>
                    Summary: She faces a new district. Will she move to the new district?
                    </p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                </td>
            </tr>
        </table>
    </body>
</html>